@using Kaotoby.DotNetEmailTemplatingDemo.Models.Emails;
@inherits RazorEngine.Templating.TemplateBase<PasswordResetEmailModel>

@{
    Layout = "_Layout";
}

<h1>您好</h1>
<p>您收到這封信是因為我們收到了重設您的帳戶密碼的請求。</p>
<table class="action" align="center" width="100%" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td align="center">
                <a href="@Model.PasswordResetLink" class="button button-blue" target="_blank">重設密碼</a>
            </td>
        </tr>
    </tbody>
</table>
<p>如果您並沒有要求重設密碼，請忽略這封信。</p>
<p>@ViewBag.WebsiteName</p>
<table class="subcopy" width="100%" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td>
                <p>
                    如果您無法點選「重設密碼」按鈕，請複製並貼上下列網址到您的瀏覽器：
                    <a href="@Model.PasswordResetLink"target="_blank">@Model.PasswordResetLink</a>
                </p>
            </td>
        </tr>
    </tbody>
</table>


@*
JSON LD Gmail Markup
https://developers.google.com/gmail/markup/reference/one-click-action
*@
<script type="application/ld+json">
    {
        "@@context": "http://schema.org",
        "@@type": "EmailMessage",
        "potentialAction": {
            "@@type": "ConfirmAction",
            "name": "重設密碼",
            "handler": {
                "@@type": "HttpActionHandler",
                "url": "@Model.PasswordResetLink"
            }
        },
        "description": "重新設定您在 @ViewBag.WebsiteName 的密碼"
    }
</script>
